<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="WSGI_HANDLER" value="django.core.handlers.wsgi.WSGIHandler()" />
		<add key="PYTHONPATH" value="D:\env1-python-django\proyectos\WebServicesTrastorno" />
		<add key="DJANGO_SETTINGS_MODULE" value="WebServicesTrastorno.settings" />
	</appSettings>
    <system.webServer>
        <handlers>
            <add name="web" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\env1-python-django\Scripts\python.exe|D:\env1-python-django\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.html" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>